.main{
    margin: 0% auto;
    width: 1200px;
    text-align: justify;
    text-align: center;
    outline: 2px solid black;
}
.block1{
    background:red;
    width: 400px;
}
.block2{
    background-color: brown;

}
.block3{
    background: burlywood;
}
.block4{
    background: blueviolet;
}

div{
    outline: 2px solid black;
    display: flex;
} 
.widht400{
    width: 400px;
}
.widht800{
    width: 800px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}    
.flex1{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}